.logo {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: var(--pad-side);
  border-bottom: var(--border-thick);
  color: var(--primary);
  display: flex;
  align-items: center;
  height: 3.5rem;
}

.logoTitle {
  margin-left: 0.5rem;
}
