.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark);
  opacity: 0.5;
}

.modal {
  position: absolute;
  width: 30rem;
  height: 13rem;
  background-color: var(--dark-light);
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
}

.close {
  color: var(--primary);
  position: absolute;
  top: -12px;
  right: -12px;
  cursor: pointer;
  transition: color 0.3s ease-out;

  &:hover {
    color: var(--primary-dark);
  }
}

.header {
  border-bottom: var(--border-thin);
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.main {
  padding: 0.5rem 1rem;
  flex-grow: 1;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.formContent {
  flex-grow: 1;
}

.controlsWrapper {
  padding-bottom: 0.5rem;
  text-align: right;
}
