.controlsWrapper {
  display: flex;
  justify-content: space-between;
  padding: var(--pad-side);
  border-bottom: var(--border-thin);
}

.title {
  text-transform: uppercase;
}

.controls {
  display: flex;
  align-items: center;
  svg {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
