:root {
  --dark: #050a0d;
  --dark-light: #0e1315;
  --light: #e7edf1;
  --primary: #0a86a5;
  --primary-dark: #08718b;
  --secondary: #f7563b;
  --secondary-dark: #da472d;
  --pad-side: 0.8rem 1.5rem;
  --border-thick: 2px solid var(--light);
  --border-thin: 1px solid var(--light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--light);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

code {
  font-family: 'Inconsolata', monospace;
}

/* Root div styles */
#root {
  isolation: isolate;
}
